{{#partial "title" }}
    Hero squad | List heroes
{{/partial}}

{{#partial "content"}}
{{/partial}}

{{> layout.hbs}}

<h3>List of Heroes</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">power</th>
        <th scope="col">weakness</th>
        <th scope="col">squad</th>
    </tr>
    </thead>
    <tbody>
    {{#each heroes}}
        <tr>
            <th scope="row">1</th>
            <td>{{ name }}</td>
            <td>{{ age }}</td>
            <td>{{ power }}</td>
            <td>{{ weakness }}</td>
            <td>{{ squad }}</td>

        </tr>
    {{/each}}
    </tbody>
</table>