{{#partial "title" }}
    Your custom greeting
{{/partial}}


{{#partial "content"}}

    <h1>Hero Added</h1>
    <p>Name: {{ name }},</p>
    <p>Age: {{ age }}</p>
    <p>power: {{ power }}</p>
    <p>weakness: {{ weakness }}</p>
    <p>squad: {{ squad }}</p>

{{/partial}}

{{> layout.hbs}}